* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1572A1;
}

/* .btn {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: white;
    color: #1572A1;
    border-radius: 4px;
    font-weight: bold;
}

.btn-group {
    padding-left: 15px;
} */
