*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1572A1;
}

.row {
    background-color: white;
    border-radius: 30px;
}

img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

h1 {
    font-weight: bold;
    text-align: center;
}

h4 {
    font-weight: lighter;
    text-align: center;
}

.btn {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #1572A1;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn:hover {
    background: white;
    border: 1px solid;
    color: #1572A1;
}


/*Add Task*/
.addTask {
    background: #333;
}