*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8d8b8c;
}

.row {
    background-color: white;
    border-radius: 30px;
}

img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    text-align: center;
}

h5 {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    text-align: center;
}

h4 {
    font-family: Poppins, sans-serif;
    font-weight: light;
    text-align: center;
}

label {
    font-family: Poppins, sans-serif;
}

.left-btn {
    float: left;
}

.right-btn {
    float: right;
}

.btn {
    border: 1px solid;
    outline: none;
    width: 100%;
    background-color: #dcafa9;
    color: #8d8b8c;
    border-radius: 4px;
    font-weight: bold;
    font-family: Poppins, sans-serif;
}

.btn:hover {
    background: #8d8b8c;
    border: 1px solid;
    color: #dcafa9;
}

.form-row {
    justify-content: center;
}

li{
    list-style: none;
}

footer {
    text-align: center;
}

.card-body {
    background-color: #e9e8e5;
}

.badge {
    background-color: #dcafa9;
}